#main {
    width:600px;
    margin: 70px auto;

}

h1{
    text-align: center;
    font-size: 4em;

}

#button {
    position: relative;
    top: 310px;
    width: 190px;
    margin: auto;
}
#images {
    margin: 20px auto;
}

.image {
    position: absolute;
    height: 295px;
    padding: auto;
}

#img2 {
    padding-left:23.5px;
}
#img3 {
    padding-left:21.5px;
}
#img1 {
    width: 600px;
}

#img4 {
    width: 600px;
}